{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">Tableau de bord</a>
            <a href="{% url 'profile' %}" class="list-group-item list-group-item-action active">Mon profil</a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h4>Mon Profil</h4>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-3 text-center">
                        <div class="avatar-wrapper">
                            <img src="https://ui-avatars.com/api/?name={{ user.first_name }}+{{ user.last_name }}&background=random&color=fff&size=128" 
                                 class="rounded-circle img-fluid" alt="Avatar">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>{{ user.get_full_name|default:user.username }}</h3>
                        <p class="text-muted">{{ user.email }}</p>
                        {% if user.is_staff or user.is_superuser %}
                        <span class="badge bg-warning text-dark">Staff</span>
                        {% endif %}
                    </div>
                </div>

                <div class="alert alert-info">
                    <p><i class="bi bi-info-circle"></i> Les informations de votre profil sont gérées par Keycloak. Toute modification doit être effectuée dans Keycloak.</p>
                </div>

                <h5>Informations personnelles</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 30%;">Nom d'utilisateur</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Prénom</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Nom</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Dernière connexion</th>
                                <td>{{ user.last_login|date:"j F Y, H:i" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
